* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}

#header {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  color: greenyellow; 
  background-color: purple;
  border-bottom: 10px solid indigo;
}

#footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  color: greenyellow;
  background-color: purple;
}

 input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #db9292;
  padding: 20px;
  padding-top: 50px
} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 100px;
}

.centertext {
  text-align: center;
}

.links {
  display: inline;
  }

a {
  color: black;
}